In [90]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from IPython.display import display

In [91]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
505,tt0209163,98000000,433013274,The Mummy Returns,Brendan Fraser|Rachel Weisz|John Hannah|Arnold...,Stephen Sommers,The most powerful force on earth is about to b...,"Rick and Evelyn O'Connell, along with their 8 ...",130,Action|Adventure|Drama|Fantasy|Horror,Universal Pictures|Alphaville Films|Imhotep Pr...,4/28/2001,5.8,2001
724,tt1318514,93000000,482860185,Rise of the Planet of the Apes,Andy Serkis|Karin Konoval|Freida Pinto|James F...,Rupert Wyatt,Evolution Becomes Revolution.,Scientist Will Rodman is determined to find a ...,105,Thriller|Action|Drama|Science Fiction,20th Century Fox,8/3/2011,6.9,2011
1356,tt0430105,45000000,92374674,Four Brothers,Mark Wahlberg|Tyrese Gibson|AndrÃ© Benjamin|Ga...,John Singleton,They came home to bury mom... and her killer,Four adopted brothers return to their Detroit ...,109,Action|Crime,Paramount Pictures|Di Bonaventura Pictures,8/11/2005,6.6,2005
1869,tt0211181,85000000,183611771,102 Dalmatians,Glenn Close|Ioan Gruffudd|Alice Evans|Tim McIn...,Kevin Lima,Meet Two Unlikely Heroes With A Bone To Pick.,Get ready for a howling good time as an all ne...,100,Comedy|Family,Walt Disney Pictures|Cruella Productions,10/7/2000,5.0,2000
330,tt1095217,25000000,10589102,The Bad Lieutenant: Port of Call - New Orleans,Nicolas Cage|Eva Mendes|Val Kilmer|Fairuza Bal...,Werner Herzog,The only criminal he can't catch is himself.,"Terrence McDonagh, a New Orleans Police sergea...",122,Drama|Crime,Saturn Films|Nu Image Films|Edward R. Pressman...,9/11/2009,5.8,2009

In [92]:
# проверим пропуски
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

In [93]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [94]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#добавление столбца дохода
profit = data.revenue - data.budget #добавление столбца дохода
data = data.assign(profit = profit)

#функция распаковки списка списков
def list_open(list1):
    result=[]
    for lst in list1:
      result.extend(lst)
    return result

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [95]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = ''
# если ответили верно, можете добавить комментарий со значком "+"

In [96]:
col = 'budget'
maxbudget = data[col].max()

data.loc[data[col] == maxbudget, 'original_title']

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [97]:
answers['2'] = 'Gods and Generals (tt0279111)'

In [98]:
col = 'runtime'
time = data[col].max()

data.loc[data[col] == time, 'original_title']

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [99]:
answers['3'] = 'Winnie the Pooh (tt1449283)'

In [100]:
col = 'runtime'
time = data[col].min()

data.loc[data[col] == time, 'original_title']

768    Winnie the Pooh
Name: original_title, dtype: object

# 4.Какова средняя длительность фильмов?

In [101]:
answers['4'] = '110'

In [102]:
meantime = data.runtime.mean()
print(meantime)

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [103]:
answers['5'] = '107'

In [104]:
medtime = data.runtime.median()
display(medtime)

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [105]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = 'Avatar (tt0499549)'

In [106]:
col = 'profit'
maxprof = data[col].max()

data.loc[data[col] == maxprof, 'original_title']

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [107]:
answers['7'] = 'The Lone Ranger'

In [108]:
col = 'profit'
maxprof = data[col].min()

data.loc[data[col] == maxprof, 'original_title']

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [109]:
answers['8'] = '1478'

In [110]:
col = 'profit'
col_uc = 0

len(data.loc[data[col] > col_uc, 'original_title'])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [111]:
answers['9'] = 'The Dark Knight (tt0468569)'

In [112]:
col = 'revenue'
col_uc = 'release_year' # устанавливаем столбец для условия
col_uc2 = 2008 # устанавливаем условие

col_true = data[col_uc] == col_uc2
maxrevenue = data[col_true][col].max()

data.loc[data[col] == maxrevenue, 'original_title']

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [113]:
answers['10'] = 'The Lone Ranger'

In [114]:
col = 'profit'
col_uc = 'release_year' # устанавливаем столбец для условия
col_uc2 = 2012 # устанавливаем условие
col_uc3 = 2014

col_true = ( data[col_uc] >= col_uc2 ) & ( data[col_uc] <= col_uc3 )
minprof = data[col_true][col].min()

data.loc[data[col] == minprof, 'original_title']

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [115]:
# создадим список без раделителей
list_genres = [i.split('|') for i in data['genres']]

# используем функцию из предобработки и подсчитываем количество повторений
counter_genres = Counter(list_open(list_genres))

# выводим наибольшее
counter_genres.most_common(1)

[('Drama', 782)]

In [116]:
answers['11'] = 'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [117]:
prof_uc = data[data['profit'] > 0] # условие 
list_genres = [i.split('|') for i in prof_uc['genres']]

counter_genres = Counter(list_open(list_genres))

counter_genres.most_common(1)

[('Drama', 560)]

In [118]:
answers['12'] = 'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [119]:
answers['13'] = 'Peter Jackson'

In [120]:
data.groupby(['director']).revenue.sum().to_frame().reset_index().sort_values(by='revenue', ascending=False)[:1]

          director     revenue
689  Peter Jackson  6490593685

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [121]:
answers['14'] = 'Guy Ritchie'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [129]:
actors_data = data[data['release_year'] == 2012]
actors_revenue_counter = Counter()
for i in range(len(actors_data)):
     actors_list = actors_data.iloc[i]['cast'].split('|')
     for actor in actors_list:
         actors_revenue_counter[actor] += actors_data.iloc[i]['revenue']

actors_revenue_counter.most_common()[:1]

[('Chris Hemsworth', 2027450773)]

In [123]:
answers['15'] = 'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [130]:
# создадим датафрейм с условием
actors_data = data[(data['budget'] > data['budget'].mean())]['cast']

# создадим список без раделителей

actors_list = [i.split('|') for i in actors_data]

# считаем кол-во съемок актеров 
actors_counter = Counter(list_open(actors_list))

# выводим самое частое значение в списке
actors_counter.most_common(1)

[('Matt Damon', 18)]

In [131]:
answers['16'] = 'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [132]:
# фрагмент датафрейма с фильмами в которых снимался Nicolas Cage 
df = data[data['cast'].str.contains('Nicolas Cage')]

list_genres = [i.split('|') for i in df['genres']]

counter_genres = Counter(list_open(list_genres))
counter_genres.most_common(1)

[('Action', 17)]

In [133]:
answers['17'] = 'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [134]:
data[data['production_companies'].str.contains('Paramount Pictures')].sort_values('profit')[['profit', 'original_title']]

         profit                                     original_title
925   -64831034                               K-19: The Widowmaker
1123  -60519261                                           Timeline
1722  -51788987                                               Next
1623  -46604061                                              Alfie
1631  -24805000                                            Twisted
...         ...                                                ...
730   549713380               Mission: Impossible - Ghost Protocol
1738  559709780                                       Transformers
603   601636033  Indiana Jones and the Kingdom of the Crystal S...
317   686297228                Transformers: Revenge of the Fallen
828   928746996                     Transformers: Dark of the Moon

[122 rows x 2 columns]

In [135]:
answers['18'] = 'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [136]:
data.groupby('release_year')['revenue'].sum().sort_values(ascending=False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

In [137]:
answers['19'] = '2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [138]:
df = data[data['production_companies'].str.contains('Warner Bros')]
df.groupby('release_year')['profit'].sum().sort_values(ascending=False)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

In [139]:
answers['20'] = '2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [140]:
# создадим новый столбец с названием месяца
data['month'] = pd.to_datetime(data['release_date'], infer_datetime_format=True).dt.strftime('%b')

group_df = data.groupby('month')['profit'].count().sort_values(ascending=False)
group_df

month
Sep    227
Dec    190
Oct    186
Aug    161
Mar    156
Apr    149
Jun    147
Nov    146
Jul    142
May    140
Feb    135
Jan    110
Name: profit, dtype: int64

In [141]:
answers['21'] = 'Сентябрь'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [142]:
group_df['Jun']+group_df['Aug']+group_df['Jul']

450

In [143]:
answers['22'] = '450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [144]:
winter = ['Dec', 'Jan', 'Feb']
director_counter = Counter()
for i in range(len(data)):
     if (data.iloc[i]['month'] in winter):  #если месяц зимний делаем
         director_list = data.iloc[i]['director'].split('|')
         for director in director_list:
             director_counter[director] += 1  # вместо прибыли ставим 1
     else:
         continue

director_counter.most_common(1)

[('Peter Jackson', 7)]

In [145]:
answers['23'] = 'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [146]:
companies_counter = Counter()
companies_len_counter = Counter()
set_companies = set()
for i in range(len(data)):
     data_list = data.iloc[i]['production_companies'].split('|')
     for company in data_list:
         # сложим длины названий и разделим на кол-во названий по каждой киностудии
         companies_counter[company] += len(data.iloc[i]['original_title'])
         companies_len_counter[company] += 1
         
         set_companies.add(company)

company_list = []
for company in list(set_companies):
    temp = companies_counter[company] / companies_len_counter[company]
    company_list.append([company,temp])
    
# полученный вложенный список отсортируем 
company_list.sort(key=lambda i: i[1], reverse=True)

company_list[0]

['Four By Two Productions', 83.0]

In [147]:
answers['24'] = 'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [148]:
companies_counter = Counter()
companies_len_counter = Counter()
set_companies = set()
for i in range(len(data)):
     data_list = data.iloc[i]['production_companies'].split('|')
     for company in data_list:
         # сложим длины описаний и разделим на кол-во названий по каждой киностудии
         companies_counter[company] += len(data.iloc[i]['overview'].split())
         companies_len_counter[company] += 1
         
         set_companies.add(company)

company_list = []
for company in list(set_companies):
    info = companies_counter[company] / companies_len_counter[company]
    company_list.append([company,info])

    # полученный вложенный список отсортируем
company_list.sort(key=lambda i: i[1], reverse=True)

company_list[0]

['Midnight Picture Show', 175.0]

In [149]:
answers['25'] = 'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу?

In [150]:
best_uc = data['vote_average'].quantile(0.99)

data.loc[data['vote_average'] > best_uc][['original_title','vote_average']]

                                     original_title  vote_average
9                                        Inside Out           8.0
34                                             Room           8.0
118                                    Interstellar           8.0
119                         Guardians of the Galaxy           7.9
125                              The Imitation Game           8.0
128                                       Gone Girl           7.9
138                        The Grand Budapest Hotel           7.9
370                                       Inception           7.9
599                                 The Dark Knight           8.1
872                                     The Pianist           7.9
1081  The Lord of the Rings: The Return of the King           7.9
1183                        The Wolf of Wall Street           7.9
1191                               12 Years a Slave           7.9
1800                                        Memento           7.9

In [151]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [152]:
actor_counter = Counter()
for i in range(len(data)):
     data_list = data.iloc[i]['cast'].split('|')
     for actor1 in data_list:
         data1_list = data_list.copy()
         data1_list.remove(actor1)
         for actor2 in data1_list:
             actor_counter[(actor1, actor2)] += 1

actor_counter.most_common(1)

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

In [153]:
answers['27'] = 'Daniel Radcliffe, Rupert Grint'

# Submission

In [154]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Guy Ritchie',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe, Rupert Grint'}

In [155]:
# и убедиться что ни чего не пропустил)
len(answers)

27